@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  --red-color: #d10024;
}
header {
  .header-main {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    background-color: #1e1f29;
    padding: 12px 0;
    color: #fff;
    .header {
      display: flex;
      justify-content: space-between;
      max-width: 1000px;
      margin: auto;
      .contacts,
      .profile {
        display: flex;
        div {
          padding: 0px 14px;
          .icon {
            padding: 0 10px;
          }
        }
      }
      .contacts {
        div {
          .icon {
            color: var(--red-color);
            font-size: 14px;
          }
          a {
            text-decoration: none;
            color: #fff;
            transition: 0.5s;
          }
          a:hover {
            color: var(--red-color);
          }
        }
      }
      .profile {
        div {
          display: flex;
          .icon {
            color: var(--red-color);
            font-size: 14px;
          }
          p {
            transition: 0.5s;
          }
          p:hover {
            color: var(--red-color);
          }
        }
      }
    }
  }
  .header-input {
    font-family: "Quicksand", sans-serif;
    background-color: #15161d;
    .header-content {
      margin: auto;
      max-width: 1000px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 0;
      img {
        position: absolute;
        top: 54px;
        left: 162px;
      }
      .full-input {
        border-radius: 25px;
        height: 47px;
        select,
        input,
        button {
          height: 100%;
          border: none;
          outline: none;
          font-size: 15px;
        }
        input {
          width: 350px;
          padding: 0 14px;
        }
        select {
          border-radius: 25px 0 0 25px;
          // font-size: 13px;
          color: #3a3a3a;
          padding: 0 10px;
        }
        button {
          border-radius: 0 25px 25px 0;
          background-color: var(--red-color);
          color: #fff;
          // font-size: 16.8px;
          padding: 15px;
          font-weight: 700;
        }
      }
    }
  }
}
main {
  color: rgb(104, 104, 104);
  padding: 20px 0;
  .main {
    max-width: 1000px;
    margin: auto;
    .category {
      .category-list {
        display: flex;
        list-style: none;
        li {
          button {
            padding: 10px 20px;
            background-color: none;
            border: none;
            font-size: 17px;
          }
          button::after {
            content: "";
            margin-top: 3px;
            display: block;
            width: 0%;
            background-color: var(--red-color);
            height: 2px;
            transition: 0.5s ease;
          }

          button:hover,
          button:hover::after {
            width: 100%;
            color: var(--red-color);
            cursor: pointer;
          }
        }
      }
    }
  }
}
