@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  .header-main {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    background-color: #1e1f29;
    padding: 12px 0;
    color: #fff;
    .header {
      display: flex;
      justify-content: space-between;
      max-width: 1000px;
      margin: auto;
      .contacts,
      .profile {
        display: flex;
        div {
          padding: 0px 14px;
          .icon {
            padding: 0 10px;
          }
        }
      }
      .contacts {
        div {
          .icon {
            color: #d10024;
            font-size: 14px;
          }
          a {
            text-decoration: none;
            color: #fff;
            transition: 0.5s;
          }
          a:hover {
            color: #d10024;
          }
        }
      }
      .profile {
        div {
          display: flex;
          .icon {
            color: #d10024;
            font-size: 14px;
          }
          p {
            transition: 0.5s;
          }
          p:hover {
            color: #d10024;
          }
        }
      }
    }
  }
  .header-input {
    background-color: #15161d;
    .header-content {
      margin: auto;
      max-width: 1000px;
      display: flex;
      justify-content: space-between;
    }
  }
}
